.single {
    padding: 2px 16px;
    display: block;
    margin: 5px 2px;
    background: #f7e8e2;
    border-left: 20px solid #f7e8e2;
    text-align: left;
  }
  .single:hover {
    border-left: 8px solid #E59E82;
  }

  .onestore {
    text-align: left;
  }

  .imagestore {
    box-align: right;
    position: relative;
    width: 100%;
   
  }

